body{
    margin: 0px;
    opacity: 0.8;
}
#first{
    background-image: url(../parallax/image1.jpg);
    height: 100%;
    background-attachment: fixed;
}
#content{
    text-align: center;
    padding: 300px 600px;

}
#content h1{
    background-color:#111;
    width: 300px;
    color: white;
    padding: 10px;
}
#second{
    height: 50%;
    font-size: 24;
    text-align: center;
    padding: 30px;
}
#third,#fourth{
    height: 100%;
    background-attachment: fixed;
    margin: 0px;
}
#third{
    background-image: url(../parallax/image2.jpg);
}
#fourth{
    background-image: url(../parallax/image3.jpg);
}
#img2text{
    height: 50%;
    text-align: center;
}
#img2text h1{
    padding-top: 150px;
    color: white;
}
#third1,#fourth1{
    height: 50%;
    font-size: 24;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #111;
}